
/*
table of content:
-General
-
-basic analysis
-professional_analysis
*/

//General
//-----------------------------------
html{
  font-size: 1rem;
}

body{
  text-align: right;
  color: gray;
}

input, button, textArea{
  outline: none;
  &:focus{outline: none;}
}
a:hover{
  text-decoration: none;
}
a:active, a:focus{
  outline: none;
}
ul, ol{
  padding-inline-start: 0;

}
//basic analysis
//-----------------------------------
section#basic_analysis{
  background-color: #f9faff;
  text-align: center;
  padding-top: 60px;
  h4{
    color: #101558;
    font-weight: bold;
    padding: 0.7rem;
    span{
      color: #4e7ad2;
    }
    }
  ul{
    list-style: none;
    text-align: right;

    h6{
      color: #101558;
      font-weight: bold;
    }
  }
  }
section#professional_analysis{
  background-color: #ffffff;
  text-align: center;
  padding-top: 60px;
  h4{
    color: #101558;
    font-weight: bold;
    padding: 0.7rem;
    span{
      color: #4e7ad2;
    }
  }
  ul.nav-pills{
    background-color: #f9faff;
    border-radius: 50px;
    box-shadow: 1px 1px 5px gray;
    li{
      border-radius: 50px;
    }
  }
}